@model IEnumerable<TE.Models.Sys_User>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserList</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassWord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEnable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginTimes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlobalPageSize)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassWord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEnable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginTimes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlobalPageSize)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
