@using TE.NetCore.Models
@model Sys_User
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>新增用户</h1>
<form asp-action="Create" method="post">
    <div class="m-top-10">
        @Html.LabelFor(m => m.UserName)
        @Html.EditorFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    <div class="m-top-10">
        @Html.LabelFor(m => m.UserId)
        @Html.EditorFor(m => m.UserId)
        @Html.ValidationMessageFor(m => m.UserId)
    </div>
    <div class="m-top-10">
        @Html.LabelFor(m => m.PassWord)
        @Html.EditorFor(m => m.PassWord)
        @Html.ValidationMessageFor(m => m.PassWord)
    </div>
    <div class="m-top-10">
        @Html.LabelFor(m => m.Sex)
        @Html.EditorFor(m => m.Sex)
        @Html.ValidationMessageFor(m => m.Sex)
    </div>
    <div class="m-top-10">
        <input type="submit" value="保存" />
    </div>
</form>

